#container{
    background: linear-gradient(180deg, #070211, rgba(7, 2, 17, 0.00)), url('../resources/Banner-Image.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    max-width: 1320px;
    border-radius: 10px;
    margin: 20px auto;
}

#container .text{
    position: absolute;
    color: white;
    font-family: 'Merriweather', serif;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#container .text p{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
}

#container .text h1{
    text-align: center;
    font-size: 60px;
    font-weight: 900px;
    line-height: 75px;
    padding-bottom: 120px;
    margin-top: auto;
}

/* Header Part Ends Here */

.second{
    text-align: center;
    margin-top: 98px;
    font-family: 'Inter';
    padding-bottom: 100px;
}

.second .discount h2{
    color: rgb(228, 19, 19);
    text-align: center;
    font-size: 70px;
    font-weight: 700;
}

.second .advertise p{
    color: rgb(228, 19, 19);
    font-size: 20px;
    font-weight: 600;
}

.second .advertise h3{
    color: #070211;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    margin-top: auto;
}

/* Second Part Ends Here */

.third{
    background: linear-gradient(90deg, #070211, rgba(7, 2, 17, 0.00)), url('../resources/Vectorrr.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    max-width: 1320px;
    border-radius: 10px;
    margin: 20px auto;
}

.text-img{
    display: flex;
    align-items: center;
}

.text-img .welcome h4{
    color: #FFF;
    font-family: 'Merriweather';
    font-size: 50px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    margin-left: 110px;
    width: 100%;
}

.third .text-img .welcome .join{
    padding: 16px 32px;
    border: 0;
    border-radius: 7px;
    background: rgb(228, 19, 19);
    margin-left: 150px;
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Third Part Ends Here */

.fourth{
    width: 1320px;
    height: 482px;
    margin: 100px auto;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10), rgba(255, 0, 0, 0.00));
}

.fourth .invitation{
    text-align: center;
    padding: 100px;
    color: #070211;
    font-family: 'Inter';
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
}

.fourth .invitation #special{
    color: rgb(228, 19, 19);;
}

.fourth .invitation .join{
    padding: 16px 32px;
    border: 0;
    border-radius: 7px;
    margin-top: 16px;
    background: rgb(228, 19, 19);
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 600;
}

/* Fourth Part End Here */

.fifth{
    width: 1320px;
    height: 482px;
    margin: 100px auto;
    padding-bottom: 700px;
}

.fifth .fifth-text .gift{
    color: rgb(228, 19, 19);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
}

.fifth .fifth-text h3{
    color: #070211;
    font-family: 'Merriweather';
    font-size: 40px;
    font-weight: 700;
    line-height: 30px;
    margin-top: auto;
}

.fifth .fifth-text .message{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 400;
    line-height: 25px; 
    word-spacing: 1.5px;
    width: 735px;
    padding: 0;
    margin-bottom: 40px;
}

.fifth .fifth-img{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);  
    margin-bottom: 200px;
}

/* Fifth Part End Here */

.sixth{
    width: 1320px;
    height: 616px;
    margin: 100px auto;
    border-radius: 10px;
    background: rgba(255, 0, 0, 0.05);
}

.sixth .mail-img{
    text-align: center;
    padding-top: 80px;
}

.sixth .newsletter h3{
    color: #070211;
    font-family: 'Merriweather';
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    text-align: center;
}

.sixth .newsletter p{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 400;
    line-height: 25px; 
    word-spacing: 1.5px;
    width: 735px;
    margin-bottom: 40px;
    text-align: center;
    width: 735px;
    margin: auto;
}

.sixth .input-button{
    display: flex;
    margin-left: 450px;
    padding-top: 40px;
    padding-right: 200px;
}

.sixth .input-button .sub-button .sub{
    width: 250px;
    font-family: 'Inter';
    font-size: 15px;
    border: 0;
    padding: 15px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.sixth .input-button .color-sub .subscribe{
    width: 130px;
    background: rgb(228, 19, 19);
    font-family: 'Inter';
    font-size: 15px;
    color: white;
    border: 0;
    padding: 15px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}


